	<ion-view view-title="Sobre" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-sobre" class=" page-sobre">
		<div class="padding scroll">

    <div class="padding sobre-box">
        <h2>Condutores</h2>
        <div>
            <span style="font-family: tahoma, geneva, sans-serif; font-size: 12px; text-align: justify;">&nbsp;O site &ldquo;<strong>Condutores das Am&eacute;ricas</strong>&rdquo; foi criado com o objetivo principal de melhorar a qualidade de vida dos condutores. Al&eacute;m da busca constante pelo fortalecimento da imagem perante a sociedade como s&iacute;mbolo de seguran&ccedil;a, cidadania e trabalho, atrav&eacute;s de conte&uacute;do no site, passeios, atividades visando principalmente o apoio e seguran&ccedil;a dos condutores &ndash;motociclistas ciclistas e caminhoneiros.</span>
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior sobre-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/condutoresdasamericas')" >
        <i class="positive icon ion-social-facebook"></i>
        Curtir Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://www.instagram.com/condutoresdasamericas/')" >
        <i class="assertive icon ion-social-instagram"></i>
        Seguir Instagram
      </a>
      
     
      
       <a class="item item-icon-left" ng-click="openURL('mail:condutoresdasamericas@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        Entre em contato
        <p>
            Email: condutoresdasamericas@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
