	<ion-view view-title="Condutores das Am&eacute;ricas" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
				<br><br><br><br><br><br><br><br><br><br><br><br><br><div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border"  ng-href="#/condutores/carto" >
					<i class="icon ion-card Energized" ></i>
					<p>{{ "Cart&atilde;o" | translate }}</p>
				</a>
				<a class="col-33 no-border "  ng-href="#/condutores/sobre" >
					<i class="icon ion-android-favorite" ></i>
					<p>{{ "Sobre" | translate }}</p>
				</a>
				<a class="col-33 no-border "  ng-href="#/condutores/parceiros" >
					<i class="icon ion-android-people" ></i>
					<p>{{ "parceiros" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
