	<ion-view view-title="O Cart&atilde;o" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-carto" class="page-carto">
		<div class="padding">
  <div >
      <span style="font-family: tahoma, geneva, sans-serif; font-size: 12px; text-align: justify;">
            
              <h4>Condutores das Américas</h4>
O site APP “Condutores das Américas” foi criado com o objetivo principal de melhorar a qualidade de vida dos condutores. Além da busca constante pelo fortalecimento da imagem perante a sociedade como símbolo de segurança, cidadania e trabalho, através de conteúdo no site, passeios, atividades visando principalmente o apoio e segurança dos condutores  motociclistas ciclistas e caminhoneiros.
            Estaremos publicando constantemente diversos conteúdos próprios. Em cada texto produzido desempenhamos um trabalho árduo de pesquisa, na busca de trazer sempre informações seguras e plenamente confiáveis. Nossa premissa é levá-los para uma discussão, reflexão. No passo que isto acontece criar mobilização sempre que houver uma possibilidade. </p>
            
            </span>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
